
/* = Selector de Etiquetas */

p{
    /*color: rgba(1, 11, 12, 0.731);*/
    font-family: $font-main;
}
h1 {
    color: rgba(0, 0, 0, 0.99);
    font-family: $font-main;
}

h2,h3 {
    font-family: $font-main;
    color: black;
}
